# Income Prediction using ML

In [112]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn as sns

##  Building DataFrame

Data Set Used:
* The "census" data set that contains Census information from 1994: `censusData.csv`


#### Load a Data Set and Save it as a Pandas DataFrame

 I inspected  each the datasets and choose the Census data because I found it more intersting and aligns with my couristy of the Machine Learning problem and question I am trying to solve. There are 15 coloums in this data that I can work with.

In [ ]:
# File name of my dataset

adultDataSet_filename = os.path.join(os.getcwd(), "data", "censusData.csv")

In [114]:
#fist I want to read and inspect all of the data so I can pick which data set I want to work with
df_census = pd.read_csv(adultDataSet_filename)
df_airbnb = pd.read_csv(airbnbDataSet_filename)
df_whr = pd.read_csv(WHRDataSet_filename)
df_books = pd.read_csv(bookReviewDataSet_filename)

In [115]:
#prints the first 15 for me to inspect and choose 
print("Census")
display(df_census.head(50)) # I choose to work with the censusData so I wanted to read more columns and rows 

print("Airbnb")
display(df_airbnb.head(15))

print("World Happiness")
display(df_whr.head(15))

print("Book Reviews")
display(df_books.head(15))

Census

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex_selfID,capital-gain,capital-loss,hours-per-week,native-country,income_binary
0,39.0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Non-Female,2174,0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Non-Female,0,0,13.0,United-States,<=50K
2,38.0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Non-Female,0,0,40.0,United-States,<=50K
3,53.0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Non-Female,0,0,40.0,United-States,<=50K
4,28.0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40.0,Cuba,<=50K
5,37.0,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40.0,United-States,<=50K
6,49.0,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Non-Female,0,0,45.0,United-States,>50K
8,31.0,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50.0,United-States,>50K
9,42.0,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Non-Female,5178,0,40.0,United-States,>50K
10,37.0,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Non-Female,0,0,80.0,United-States,>50K
11,30.0,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Non-Female,0,0,40.0,India,>50K
12,23.0,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30.0,United-States,<=50K
13,32.0,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Non-Female,0,0,50.0,United-States,<=50K
14,40.0,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Non-Female,0,0,40.0,NaN,>50K
15,34.0,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Inuit,Non-Female,0,0,45.0,Mexico,<=50K
16,25.0,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Non-Female,0,0,35.0,United-States,<=50K
17,32.0,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Non-Female,0,0,NaN,United-States,<=50K
18,38.0,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Non-Female,0,0,50.0,United-States,<=50K
19,43.0,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45.0,United-States,>50K
20,40.0,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,0,0,60.0,United-States,>50K
21,54.0,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20.0,United-States,<=50K
22,35.0,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Non-Female,0,0,40.0,United-States,<=50K
23,43.0,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Non-Female,0,2042,40.0,United-States,<=50K
24,59.0,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,NaN,United-States,<=50K
25,56.0,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Non-Female,0,0,40.0,United-States,>50K
26,19.0,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Non-Female,0,0,40.0,United-States,<=50K
27,54.0,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Non-Female,0,0,60.0,South,>50K
28,39.0,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Non-Female,0,0,80.0,United-States,<=50K
29,49.0,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Non-Female,0,0,40.0,United-States,<=50K
30,23.0,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Non-Female,0,0,52.0,United-States,<=50K
31,20.0,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Non-Female,0,0,44.0,United-States,<=50K
32,45.0,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Non-Female,0,1408,40.0,United-States,<=50K
33,30.0,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Non-Female,0,0,40.0,United-States,<=50K
34,22.0,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Non-Female,0,0,15.0,United-States,<=50K
35,48.0,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Non-Female,0,0,40.0,Puerto-Rico,<=50K
36,21.0,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Non-Female,0,0,40.0,United-States,<=50K
37,19.0,Private,544091,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25.0,United-States,<=50K
38,31.0,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Non-Female,0,0,38.0,NaN,>50K
39,48.0,Self-emp-not-inc,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,0,0,40.0,United-States,<=50K
40,31.0,Private,507875,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Non-Female,0,0,43.0,United-States,<=50K
41,53.0,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,0,0,40.0,United-States,<=50K
42,24.0,Private,172987,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Non-Female,0,0,50.0,United-States,<=50K
43,49.0,Private,94638,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40.0,United-States,<=50K
44,25.0,Private,289980,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Non-Female,0,0,35.0,United-States,<=50K
45,57.0,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Non-Female,0,0,40.0,United-States,>50K
46,53.0,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Non-Female,0,0,38.0,United-States,<=50K
47,44.0,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40.0,United-States,<=50K
48,41.0,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Non-Female,0,0,40.0,United-States,<=50K
49,29.0,Private,271466,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Non-Female,0,0,43.0,United-States,<=50K

Airbnb

,name,description,neighborhood_overview,host_name,host_location,host_about,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,n_host_verifications
0,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,Jennifer,"New York, New York, United States",A New Yorker since 2000! My passion is creatin...,0.80,0.17,True,8.0,...,4.79,4.86,4.41,False,3,3,0,0,0.33,9
1,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,LisaRoxanne,"New York, New York, United States",Laid-back Native New Yorker (formerly bi-coast...,0.09,0.69,True,1.0,...,4.80,4.71,4.64,False,1,1,0,0,4.86,6
2,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,Rebecca,"Brooklyn, New York, United States","Rebecca is an artist/designer, and Henoch is i...",1.00,0.25,True,1.0,...,5.00,4.50,5.00,False,1,1,0,0,0.02,3
3,Large Furnished Room Near B'way,Please dont expect the luxury here just a bas...,"Theater district, many restaurants around here.",Shunichi,"New York, New York, United States",I used to work for a financial industry but no...,1.00,1.00,True,1.0,...,4.42,4.87,4.36,False,1,0,1,0,3.68,4
4,Cozy Clean Guest Room - Family Apt,"Our best guests are seeking a safe, clean, spa...",Our neighborhood is full of restaurants and ca...,MaryEllen,"New York, New York, United States",Welcome to family life with my oldest two away...,NaN,NaN,True,1.0,...,4.95,4.94,4.92,False,1,0,1,0,0.87,7
5,"Lovely Room 1, Garden, Best Area, Legal rental","Beautiful house, gorgeous garden, patio, cozy ...",Neighborhood is amazing!<br />Best subways to ...,Laurie,"New York, New York, United States","Hello, \r\nI will be welcoming and helpful, w...",1.00,1.00,True,3.0,...,4.82,4.87,4.73,False,3,1,2,0,1.48,7
6,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,NaN,Allen & Irina,"New York, New York, United States",We love to travel. When we travel we like to s...,1.00,1.00,True,1.0,...,4.80,4.67,4.57,True,1,1,0,0,1.24,7
7,UES Beautiful Blue Room,Beautiful peaceful healthy home<br /><br /><b>...,"Location: Five minutes to Central Park, Museum...",Cyn,"New York, New York, United States",Capturing the Steinbeck side of life in its Fi...,1.00,1.00,True,3.0,...,4.95,4.84,4.84,True,1,0,1,0,1.82,5
8,"Amazing location! Wburg. Large, bright & tranquil","Large, private loft-like room in a spacious 2-...","- One stop from the East Village, Lower East S...",Joelle,"New York, New York, United States",I have lived in the same apartment in Brooklyn...,1.00,0.00,True,2.0,...,5.00,5.00,5.00,False,2,0,2,0,0.07,5
9,Perfect for Your Parents: Privacy + Garden,"Parents/grandparents coming to town, or are yo...","Residential, village-like atmosphere. Lots of ...",Jane,"New York, New York, United States",I have been an Airbnb host since 2009 -- just ...,1.00,0.99,True,1.0,...,4.91,4.93,4.78,True,2,1,1,0,3.05,8
10,Sweet and Spacious Brooklyn Loft,A true open-plan loft in a repurposed factory ...,We've lived here for over 10 years and watched...,Chaya,"New York, New York, United States",We're a couple in our thirties who love to tra...,1.00,0.61,True,4.0,...,4.60,5.00,4.80,False,1,1,0,0,0.06,4
11,"Maison des Sirenes1,bohemian, luminous apartment",<b>The space</b><br />I am the lucky owner of ...,NaN,Nathalie,"New York, New York, United States",I am French and have been living in Ny for 10...,1.00,0.98,True,2.0,...,4.87,4.61,4.75,False,2,2,0,0,1.17,5
12,Midtown Pied-a-terre,"HELLO. PLEASE DO NOT HIT ""REQUEST TO BOOK"". H...",Quiet residential block near many restaurants ...,Tommi,"New York, New York, United States",I am a spirit-minded shoe model and alternativ...,0.00,NaN,True,1.0,...,5.00,4.95,4.58,False,1,1,0,0,0.55,4
13,Modern 1 BR / NYC / East Village,"Awesome, spacious & clean 1 bedroom with a coz...",The east village offers a mixture of old schoo...,Dana,"New York, New York, United States",I am an industrial designer and native new yor...,0.80,0.54,True,1.0,...,4.84,4.87,4.34,False,1,1,0,0,0.75,4
14,Spacious 1 bedroom in luxe building,"The room is spacious, the neighborhood is safe...",NaN,Teri,"New York, New York, United States",I'm a citizen of the world. I love to travel ...,0.00,0.00,True,1.0,...,4.84,4.84,4.90,False,1,0,1,0,1.36,8

World Happiness

,country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government,Democratic Quality,Delivery Quality,Standard deviation of ladder by country-year,Standard deviation/Mean of ladder by country-year,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-15","gini of household income reported in Gallup, by wp5-year"
0,Afghanistan,2008,3.723590,7.168690,0.450662,49.209663,0.718114,0.181819,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,0.476600,NaN,NaN,NaN
1,Afghanistan,2009,4.401778,7.333790,0.552308,49.624432,0.678896,0.203614,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,0.391362,NaN,NaN,0.441906
2,Afghanistan,2010,4.758381,7.386629,0.539075,50.008961,0.600127,0.137630,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,0.394803,NaN,NaN,0.327318
3,Afghanistan,2011,3.831719,7.415019,0.521104,50.367298,0.495901,0.175329,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,0.465942,NaN,NaN,0.336764
4,Afghanistan,2012,3.782938,7.517126,0.520637,50.709263,0.530935,0.247159,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,0.475367,NaN,NaN,0.344540
5,Afghanistan,2013,3.572100,7.503376,0.483552,51.042980,0.577955,0.074735,0.823204,0.620585,0.273328,0.482847,-1.879709,-1.403036,1.223690,0.342569,NaN,NaN,0.304368
6,Afghanistan,2014,3.130896,7.484583,0.525568,51.370525,0.508514,0.118579,0.871242,0.531691,0.374861,0.409048,-1.773257,-1.312503,1.395396,0.445686,NaN,NaN,0.413974
7,Afghanistan,2015,3.982855,7.466215,0.528597,51.693527,0.388928,0.094686,0.880638,0.553553,0.339276,0.260557,-1.844364,-1.291594,2.160618,0.542480,NaN,NaN,0.596918
8,Afghanistan,2016,4.220169,7.461401,0.559072,52.016529,0.522566,0.057072,0.793246,0.564953,0.348332,0.324990,-1.917693,-1.432548,1.796219,0.425627,NaN,NaN,0.418629
9,Afghanistan,2017,2.661718,7.460144,0.490880,52.339527,0.427011,-0.106340,0.954393,0.496349,0.371326,0.261179,NaN,NaN,1.454051,0.546283,NaN,NaN,0.286599
10,Albania,2007,4.634252,9.077325,0.821372,66.576630,0.528605,-0.016183,0.874700,0.552678,0.246335,0.300681,-0.045108,-0.420024,1.764947,0.380848,NaN,0.30325,NaN
11,Albania,2009,5.485470,9.161633,0.833047,67.103607,0.525223,-0.162897,0.863665,0.640024,0.279257,NaN,0.048114,-0.264635,1.919640,0.349950,NaN,0.30325,0.617361
12,Albania,2010,5.268937,9.203026,0.733152,67.413696,0.568958,-0.177533,0.726262,0.647908,0.300060,NaN,-0.033831,-0.246433,1.862201,0.353430,NaN,0.30325,0.543528
13,Albania,2011,5.867422,9.230898,0.759434,67.730408,0.487496,-0.210193,0.877003,0.627659,0.256577,NaN,-0.110023,-0.278413,1.845783,0.314582,NaN,0.30325,0.407266
14,Albania,2012,5.510124,9.246649,0.784502,68.028885,0.601512,-0.174559,0.847675,0.606636,0.271393,0.364894,-0.060784,-0.328862,1.921203,0.348668,0.29,0.30325,0.568153

Book Reviews

                                               Review  Positive Review
0   This was perhaps the best of Johannes Steinhof...             True
1   This very fascinating book is a story written ...             True
2   The four tales in this collection are beautifu...             True
3   The book contained more profanity than I expec...            False
4   We have now entered a second time of deep conc...             True
5   I don't know why it won the National Book Awar...            False
6   The daughter of a prominent Boston doctor is d...            False
7   I was very disapointed in the book.Basicly the...            False
8   I think in retrospect I wasted my time on this...            False
9   I have a hard time understanding what it is th...            False
10  When Tom returns W/ Huck & Jim from thier craz...             True
11  As a young woman I was appauled by Gurian's la...            False
12  Temperance Brennan is an American forensic ant...            False
13  Lovers of Mr. Rochester beware - in this, his ...             True
14  Typical Feinstein ("A Season on the Brink" exc...            False

## Defining my ML Problem

I have chosen the censusData. I will be predicting the income salary of an individual based on their education level and gender, along with other supporting features. The label for this model is income_binary, which is a binary variable,  greater than 50k(>50k) or less than or equal to 50k(<=50k).

This is a supervised machine learning problem as we are training the model on labeled data that is given to us, and it would be a binary classification based on the variable that has two outcomes of either less than or equal to 50k or greater than 50k. 

The features that I will be using are education, sex, age, hours-per-week,workclass, and occupation. I wanted to add more features so that I have a stronger model to solve the problem of how much education and your gender can influence someone's income. 

This is an important problem because in most cases and historically, women are often paid less than men, so if this is taken a look at in a statistical way through data and modeling, there might be an action for diversity and inclusion in companies that can create value in their work culture. Companies can use this model to address income gaps if there is a larger gap based on gender and education level.

In [ ]:

#This is the data I am working with:
data = pd.read_csv("data/censusData.csv")

#first I want to preview the data again 
print("column:")
print(data.dtypes)

print("first 50 rows:")
display(data.head(50))

# cheeck missing values because I want to make sure my features that I am using don't have too many missing values 
print("missing values per col")
print(data.isna().sum())

#clean data 
data.dropna(inplace=True)

column:
age               float64
workclass          object
fnlwgt              int64
education          object
education-num       int64
marital-status     object
occupation         object
relationship       object
race               object
sex_selfID         object
capital-gain        int64
capital-loss        int64
hours-per-week    float64
native-country     object
income_binary      object
dtype: object
first 50 rows:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex_selfID,capital-gain,capital-loss,hours-per-week,native-country,income_binary
0,39.0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Non-Female,2174,0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Non-Female,0,0,13.0,United-States,<=50K
2,38.0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Non-Female,0,0,40.0,United-States,<=50K
3,53.0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Non-Female,0,0,40.0,United-States,<=50K
4,28.0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40.0,Cuba,<=50K
5,37.0,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40.0,United-States,<=50K
6,49.0,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Non-Female,0,0,45.0,United-States,>50K
8,31.0,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50.0,United-States,>50K
9,42.0,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Non-Female,5178,0,40.0,United-States,>50K
10,37.0,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Non-Female,0,0,80.0,United-States,>50K
11,30.0,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Non-Female,0,0,40.0,India,>50K
12,23.0,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30.0,United-States,<=50K
13,32.0,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Non-Female,0,0,50.0,United-States,<=50K
14,40.0,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Non-Female,0,0,40.0,NaN,>50K
15,34.0,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Inuit,Non-Female,0,0,45.0,Mexico,<=50K
16,25.0,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Non-Female,0,0,35.0,United-States,<=50K
17,32.0,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Non-Female,0,0,NaN,United-States,<=50K
18,38.0,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Non-Female,0,0,50.0,United-States,<=50K
19,43.0,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45.0,United-States,>50K
20,40.0,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,0,0,60.0,United-States,>50K
21,54.0,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20.0,United-States,<=50K
22,35.0,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Non-Female,0,0,40.0,United-States,<=50K
23,43.0,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Non-Female,0,2042,40.0,United-States,<=50K
24,59.0,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,NaN,United-States,<=50K
25,56.0,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Non-Female,0,0,40.0,United-States,>50K
26,19.0,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Non-Female,0,0,40.0,United-States,<=50K
27,54.0,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Non-Female,0,0,60.0,South,>50K
28,39.0,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Non-Female,0,0,80.0,United-States,<=50K
29,49.0,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Non-Female,0,0,40.0,United-States,<=50K
30,23.0,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Non-Female,0,0,52.0,United-States,<=50K
31,20.0,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Non-Female,0,0,44.0,United-States,<=50K
32,45.0,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Non-Female,0,1408,40.0,United-States,<=50K
33,30.0,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Non-Female,0,0,40.0,United-States,<=50K
34,22.0,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Non-Female,0,0,15.0,United-States,<=50K
35,48.0,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Non-Female,0,0,40.0,Puerto-Rico,<=50K
36,21.0,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Non-Female,0,0,40.0,United-States,<=50K
37,19.0,Private,544091,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25.0,United-States,<=50K
38,31.0,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Non-Female,0,0,38.0,NaN,>50K
39,48.0,Self-emp-not-inc,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,0,0,40.0,United-States,<=50K
40,31.0,Private,507875,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Non-Female,0,0,43.0,United-States,<=50K
41,53.0,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,0,0,40.0,United-States,<=50K
42,24.0,Private,172987,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Non-Female,0,0,50.0,United-States,<=50K
43,49.0,Private,94638,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40.0,United-States,<=50K
44,25.0,Private,289980,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Non-Female,0,0,35.0,United-States,<=50K
45,57.0,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Non-Female,0,0,40.0,United-States,>50K
46,53.0,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Non-Female,0,0,38.0,United-States,<=50K
47,44.0,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40.0,United-States,<=50K
48,41.0,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Non-Female,0,0,40.0,United-States,<=50K
49,29.0,Private,271466,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Non-Female,0,0,43.0,United-States,<=50K

missing values per col
age                162
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex_selfID           0
capital-gain         0
capital-loss         0
hours-per-week     325
native-country     583
income_binary        0
dtype: int64

##  Understanding My Data

The next step is to perform exploratory data analysis. Inspect and analyze my data set with my machine learning problem in mind. 

    * addressing missingness, such as replacing missing values with means
    * finding and replacing outliers
    * renaming features and labels
    * finding and replacing outliers
    * performing feature engineering techniques such as one-hot encoding on categorical features
    * selecting appropriate features and removing irrelevant features
    * performing specific data cleaning and preprocessing techniques for an NLP problem
    * addressing class imbalance in your data sample to promote fair AI

In [117]:
# doing one-hot encoding: this is for the education and sex 
# Second Try: I am only going to one-hot encode education I don't need to do sex_selfID because I am grouping them diffrently

for col in ['education']:
    if col in data.columns:
        encoded = pd.get_dummies(data[col],prefix=col,drop_first=True)
        data = pd.concat([data.drop(col,axis=1), encoded], axis=1)
print("updated column after one-hot encoding:")

# I wanted to double check if my one-hot encoding worked
print(list(data.columns))

updated column after one-hot encoding:
['age', 'workclass', 'fnlwgt', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex_selfID', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income_binary', 'education_11th', 'education_12th', 'education_1st-4th', 'education_5th-6th', 'education_7th-8th', 'education_9th', 'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors', 'education_Doctorate', 'education_HS-grad', 'education_Masters', 'education_Preschool', 'education_Prof-school', 'education_Some-college']

##  Project Plan



I was able to inspect my data and handle missing values in my previous steps by analyzing and inspecting my data. With this, I finalized my feature list for modeling. I am keeping my two main features: education and sex_selfID.  I did one-hot encoding on these with specific education levels such as education_Bachlors, education_Doctorate, education_Masters etc, along with a binary gender column, for instance, sex_selfID_Non-female, to form my set. I might add more features, such as age and hours-per-week, into my model, but I will first be working with these. 

For the preparation of the data modeling, I dropped rows for missing values, so my data is clean. As mentioned, one-hot encoding was used to convert my categorical columns to numerical as this is best for logistic regression problmes. 

I will be using logistic regression as the model that is best suited for this binary classification problem and works well with one-hot encoding categorical values. 

I will split my dataset into training and testing with train_test_split, and train my logistic regression model on the training data. I will then evaluate my model's performance using accuracy, precision, and recall. 

Based on that if my model accuracy and performance are not good, I will consider adding more features, finding the best weights, or test other model such as Decsion Trees. I might also consider adding fewer features because overfitting can occur with too many features.

## Part 5: Implement My Project Plan

In [133]:
# YOUR CODE HERE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score
import matplotlib.pyplot as plt

In [143]:
# YOUR CODE HERE

# One-hot encoded education features, orginally also did sex but took it off because it was not neccsiary 

features = ['education_Bachelors', 'education_Doctorate','education_Masters', 'education_Prof-school','education_Some-college']

# I did not want income_binary in text form I wanted to convert it to binary numbers 0 for <=50k and 1 for >=50k
# this is because I am doing binary classification for my logistic regression model and this was causing me alot of errors before I converted.
if data['income_binary'].dtype == 'object':
    data['income_binary'] = data['income_binary'].map({'<=50K': 0, '>50K': 1})

# to check that data is being grouped properly for both classes 
print(data[['sex_selfID', 'income_binary']].value_counts(dropna=False))

# This is where I came in with my second attempt to train my model because I wanted two groups one for Female and one for Non-Female
#separate models for each group both using logistic regression
gender_groups = {'Female': data[data['sex_selfID'] == 'Female'],'Non-Female': data[data['sex_selfID'] == 'Non-Female']}

#this loops through each gender group 
for label, group_data in gender_groups.items():
    group_data = group_data.dropna(subset=['income_binary'])  # drop rows with missing values because this can cause an error in the model
    
#I had trial and error with this: this is so if there is no data left after removing values it will skip the group
    if group_data.shape[0] == 0:
        print(f"\n{label.upper()} MODEL: skip")
        continue
#input and target value
    X = group_data[features]
    y = group_data['income_binary']
# in case everyon has the same income we can't train the model
    if len(y.unique()) < 2:
        print(f"\n{label.upper()} MODEL: skip")
        continue

    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=80)

    # train model: logistic regression 
    model = LogisticRegression(max_iter=300)
    model.fit(X_train, y_train)

    # Predict
    y_pred = model.predict(X_test)

    # Evaluate and print for the model
    print(f"\n{label.upper()} MODEL:")
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print("Precision:", precision_score(y_test, y_pred, average='binary'))
    print("Recall:", recall_score(y_test, y_pred, average='binary'))

sex_selfID  income_binary
Non-Female  0                13774
Female      0                 8541
Non-Female  1                 6301
Female      1                 1100
dtype: int64

FEMALE MODEL:
Accuracy: 0.8989113530326595
Precision: 0.5882352941176471
Recall: 0.050505050505050504

NON-FEMALE MODEL:
Accuracy: 0.723785803237858
Precision: 0.5809954751131222
Recall: 0.4984472049689441

***Analyses & Results:***

***The first result for my model has an accuracy of 78.29%, precision of 60.82% and Recall of 42.5%***

*I used 6 one-hot encoded features that represent education levles and also includes gender the features are educaiton_Bachelors, education_Doctorate, education_masters, education_Prof-school, education_Some-college, sex_selfID_Non-Female. 

*I have my target value of income_binary which had numberic values of less then 50k which is 0 and 50k as 1 which helps with binary classification. My data was split into 80/20 and I used the logisctic regression model. 

*The model correctly predicted income class most of the time with 78.3% and with precision 60.8% the model was correct aobut income being greater then 50k.
    *This is where I came into my first obstical that the feature sex_slefID_Non_Female is not being used properly because I wanted to see if someons gender plus their education equalivates to a certain income of either higher then 50k or less than 50k. Because my machine  learning problem is predicting the income salary of an individual based on their education level and gender. My goal is to analyze whether someones gender, along with their education level could be used to predict income, however the current model does not provide clear insights to gender-based income.
    
*What I will do now: Inspect my features, add or remove features, and maybe seperating my data into smaller groups and train and evaluate on seprate models for each group.

-----------------------------------------------------------------------------------------------------


***Second results after seprating the dataset into two gender groups Female and Non-Female and training seprate models***

*My target variable was income_binary , based on this 13,774 non-female make more then 50k, where as there are 8,541 females who make more then 50k. For making less then 50k there are 6,301 non-females and 1,100 females who make less then 50k. High income earner for females are lower. 

*The models performace for the Female Model: Accuracy: 89.89%, Precision:58.82%, Recall 5.05%
*The models performace for the Non-Female Model: Accuracy: 72.38%, Precision: 58.10%, Recall 49.84%

*This shows that the female model has higher accuracy but low recall because it missed alot of the high income female earners. Non-female model performed with better balance of precision and recall which suggests that the data may generalize better for non-female individuals. This noticable income gap and the model performace differances shows the bias and imblance in the dateset espically for females who have a higher income. Another analysis is that there could be better data collection for feature representation for higher income females.